<!-- <!-- <div class="row">
    <div class="col-md-5">
        <app-admin></app-admin>
    </div>
    <div class="col-md-7">
        <app-admin-list></app-admin-list>
    </div>
    
</div> -->
<nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Xshop</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Register <span class="sr-only">(current)</span></a>
            <app-admin></app-admin>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Admin List</a>
            <app-admin-list></app-admin-list>
        </li>
      </ul>
    </div>
  </nav> 
  