<h1 class="display-5">Admin Register</h1>
<form >
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder=" Enter your first name" required >
        <div   class="validation-error" > This field is required</div>
        <!-- *ngIf="firstName.invalid && firstName.touched" -->
      </div> 
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
    </div>
 <div class="form-row">
  <div class="col">
 <div class="form-group">
    <label for="position">Position</label>
        <select class="custom-select custom-select-sm">
            <option selected>select your position</option>
            <option value="1">owner</option>
            <option value="2">cashier</option>
            <option value="3">senior employee</option>
            <option value="3">junior employee</option>
        </select>
   </div> 
 </div>
 <div class="form-row">
    <div class="col">
        <div class="form-group">
            <label for="admincode">Admin code</label>
            <input type="text" class="form-control" id="admincode" placeholder="Enter your admincode">
          </div>
    </div> 
 </div>
 </div>
 <div class="form-group">
    <label for="mobile">Phone number</label>
    <input type="text" class="form-control" id="mobile" placeholder="Enter your phone number">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <div class="col">
    <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline1">Female</label>
     </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Male</label>
      </div>
    </div>
  </div>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email"  placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd"  placeholder="Enter your password">
    </div>
    <button type="register" [disabled]="form.invalid" class="btn btn-success">Register</button>
</form>
<script src="bootstrap-validation.js"></script>
<script>
  bootstrapValidate('firstName','min:5:Enter at least 5 characters!')
</script>

